@import url('https://fonts.googleapis.com/css2?family=Cagliostro&family=Poiret+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @keyframes bounce {
  0%, 100% {
    transform: translateY(-15%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
} */

 /* * {
  margin: 0 auto;
} */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  background-image: url("../public/img/Earthview.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
/* 
.title {
  font-size: 60px;
  font-weight: 600;
}

.navBar {
  text-align: center;
}

.quizText{
  color: #FACC15;
}





.login {
  margin: 5em;
}

.signOut {
  width: 100px;
  height: 40px;
  margin-left: 250px;
}

.username {
  font-size: 40px;
}

.profile {
  margin-top: 50px;
  color: white;
}

.upload {
  margin-left: -40px;
}

.quiz {
  text-align: center;
  background-color: #282C34;
  opacity: 0.8;
  padding: 1em 1em 1em 1em;
  border-radius: 20px;
}

.quizButton {
  margin-left: 300px;
}

.submitButton {
  margin-top: 15px;
}

.quizHeading {
  font-size: 40px;
}

.quizHeading2 {
  font-size: 25px;
}

.tutorial {
  background-color: #282C34;
  border-radius: 10px;
  margin: 30px 0;
  padding: 2em;
  opacity: 0.8;
}

nav {
  width: 100%;
  padding: 1em;
}

img {
  height: 300px;
}

.nextRound {
  background-color: #FACC15;
  color: #0F172A;
  position: relative;
  left: 500px;
  bottom: 15px;
  z-index: 6;
  width: 150px;
  height: 40px;
  border-radius: 10px;  
  margin: 30px 0px 20px 0px;
}

.nextRound:hover {
  transform: scale(1.2);
  background-color: #C2410C;
  animation: bounce 1s infinite;
}

.finalScore {
  display: inline-block;
  background-color: #FACC15;
  color: #0F172A;
  position: relative;
  top: 100px;
  z-index: 6;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
}

.score {
  display: inline-block;
  background-color: #FACC15;
  color: #0F172A;
  position: relative;
  bottom: 15px;
  z-index: 6;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  padding: 7px;
}

.totalScore {
  display: inline-block;
  background-color: #FACC15;
  color: #0F172A;
  position: relative;
  left: 500px;
  bottom: 15px;
  z-index: 6;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  padding: 7px;
}

.timer {
  display: inline-block;
  position: relative;
  width: 200px;
  max-width: 200px;
  bottom: 600px;
  font-size: 30px;
  z-index: 2;
  color: #FACC15;
  background-color: slategrey;
  padding: 15px;
  border-radius: 0 5px 5px 0;
  opacity: 0.75;
}

.round {
  display: inline-block;
  position: relative;
  width: 180px;
  max-width: 180px;
  top: 75px;
  left: 820px;
  font-size: 30px;
  z-index: 2;
  color: #FACC15;
  background-color: slategrey;
  padding: 15px;
  border-radius: 5px 0 0 5px;
  opacity: 0.75;
}

p {
  display: contents;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.congrats {
  color: #FACC15;
  text-align: center;
  font-size: 8em;
} */

/* .guessLocation {
  display: inline-block;
  position: relative;
  left: 155vh;
  bottom: 60vh;
  z-index: 5;
  opacity: 0.3;
  width: 50vh;
  height: 30vh;
}

.guessLocation:hover {
  display: inline-block;
  position: relative;
  left: 155vh;
  bottom: 50vh;
  opacity: 1;
}

.guessButton {
  background-color: #FACC15;
  color: #0F172A;
  position: relative;
  left: 10vh;
  top: 1vh;
  z-index: 1;
  width: 150px;
  height: 40px;
  border-radius: 10px;
}
.guessButton:hover {
  transform: scale(1.2);
  background-color: #C2410C;
  animation: bounce 1s infinite;
} */